.today-schedule {
  border: 2px solid;
  border-radius: 8px;
  padding: 16px 16px;
  h4 {
    padding-bottom: 12px;
    border-bottom: 1px solid;
    margin-bottom: 24px;
  }
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
  color: aliceblue;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 2px solid;

  .time {
      width: 160px;
  }

  .title {
      border-left: 2px solid;
      padding-left: 16px;
  }

  i {
      margin-right: 4px;
      cursor: pointer;
      border: 2px solid;
      padding: 1px 4px 2px 4px;
      border-radius: 5px;
  }
}

.add-btn {
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
  border: 2px solid;
  border-radius: 8px;
  margin-top: 16px;
  color: aliceblue;
  background: #b3282d;
}